@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<p>My name's Do Tran. Tikthumb is my first project that i want to contribute my knowledge to the public. If you are
    interested in hiring or working with me, do not hesitate to contact me <a asp-asp-controller="Home"
        asp-action="Contact">here</a>.</p>
