@{
    ViewData["Title"] = "Contact";
}

@section Styling {
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
}

<h1>@ViewData["Title"]</h1>
<p>I currently reside in Ho Chi Minh city, Viet Nam.</p>
<p>Here's my email in case you are interested in my work and want to contact (Please do not spam)</p>
<span class="email">suddorun@gmail.com</span>