@{
    ViewData["Title"] = "Contact";
}

@section Styling {
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
}

<h1>@ViewData["Title"]</h1>
<p>Wanna meet in person? I currently reside in</p>
<span class="highlight-contact-info">Ho Chi Minh city, Viet Nam</span>
<p> Drop me an email, we can go grab a cup of coffee sometimes</p>

<p>Here's my email in case you are interested in my work and want to contact (Please do not spam)</p>
<span class="highlight-contact-info">suddorun@gmail.com</span>