@{
    ViewData["Title"] = "Feature Request";
}
<h1>@ViewData["Title"]</h1>

<h3>We will create the form to let you submit new feature soon!</h3>

<h2>Current Backlog</h2>
<ul>
    <li>API to support multiple video and images at the same time</li>
    <li>Support caption on thumbnail</li>
    <li>Support watermark</li>
</ul>