@{
    ViewData["Title"] = "Tikthumb";
}

@section Styling {
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
}

<div class="container">
    <div class="row h-100">
        <div
            class="col-12 col-lg-6 d-flex flex-column flex-wrap justify-content-center align-items-center left-side left-side-logo-wrapper">
            <div class="left-side-logo animate__animated animate__bounce">Tikthumb</div>
            <div class="left-side-description">
                <p>We embed custom thumbnail into the video for you.</p>
            </div>
            <div class="d-flex flex-column flex-wrap">
                <h3>Here come the Instructions!</h3>
            </div>
            <div class="instruction-wrapper flex-wrap d-flex flex-column">
                <div class="instruction-step d-flex flex-row align-items-center">
                    <div class="step-description"><img class="step-image" src="~/rickroll.jpg" /></div>
                    <div class="step-number">
                        1. Select the video (Suppose our video is 'Rick Roll')
                    </div>
                </div>
                <div class="instruction-step d-flex flex-row align-items-center">
                    <div class="step-description"><img class="step-image" src="~/tikthumb-logo.png" /></div>
                    <div class="step-number">
                        2. Select the Custom Thumbnail
                    </div>
                </div>
                <div class="instruction-step d-flex flex-row align-items-center">
                    <div class="step-description">
                        <div class="step-image step-image-text">③ Submit</div>
                    </div>
                    <div class="step-number">
                        3. Clicking the 'Submit' button. We will do the work and return the output video
                    </div>
                </div>
                <div class="instruction-step d-flex flex-row align-items-center">
                    <div class="step-description"><img class="step-image" src="~/output.gif" /></div>
                    <div class="step-number">
                        4. Upload the downloaded video to TikTok, Instagram (They will be Rick Rolled 😹)
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center col-12 col-lg-6">
            <div class="form-wrapper-background-wrapper">
                <div class="form-wrapper d-flex flex-column justify-content-center align-items-center text-dark">
                    <form enctype="multipart/form-data" method="post" class="p-4" id="form">
                        <div class="form-group row mb-3">
                            <label class="form-label">① Choose your video file</label>
                            <input required name="videoFile" accept=".mp4,.mov,.avi,.wmv,.webm,.flv,.mkv,.amv"
                                type="file" id="videoFile" class="form-control" />
                        </div>
                        <div class="form-group row mb-3">
                            <label class="form-label">② Choose the thumbnail image</label>
                            <input required name="thumbnailFile" accept=".jpeg,.png,.tiff,.raw,.jpg, .webp,.bmp"
                                type="file" id="thumbnailFile" class="form-control" />
                        </div>
                        <div class="form-group row submit-button-wrapper submit-button-wrapper__disabled"
                            id="submit-button-wrapper" title="Will be selected when Video and Thumbnail are selected">
                            <button disabled="true" class="btn btn-primary" id="submit-btn" type="submit">③
                                Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        const state = {
            stepIndex: 0,
            uiUpdate: null,
            transferToNextStep: null
        }

        const component = {};

        const videoInput = document.getElementById("videoFile");
        const thumbnailFile = document.getElementById("thumbnailFile");
        const submitButtonWrapper = document.getElementById("submit-button-wrapper");
        const submitButton = document.getElementById("submit-btn");
        const form = document.getElementById("form");

        function setSubmitButtonState(enable) {
            if (enable) {
                const className = submitButtonWrapper.className;
                const newClassName = className.replace(" submit-button-wrapper__disabled", "");

                submitButtonWrapper.className = newClassName;
                submitButtonWrapper.setAttribute('title', '');
            }
            else {
                if (!submitButtonWrapper.className.includes("submit-button-wrapper__disabled")) {
                    submitButtonWrapper.className = `${submitButtonWrapper.className} submit-button-wrapper__disabled`;
                }
                submitButtonWrapper.setAttribute('title', 'Will be enabled when Video and Thumbnail are selected!');
            }

            submitButton.disabled = !enable;
        }

        function formValid() {
            return videoInput.value && thumbnailFile.value;
        }

        window.onload = () => {

            videoInput.onchange = () => {
                console.log('video file changed!');

                setSubmitButtonState(formValid());
            };

            thumbnailFile.onchange = () => {
                console.log('thumbnail file changed!');

                setSubmitButtonState(formValid());
            };

            submitButton.onclick = () => {
            };
        };
    </script>
}