.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#page-header {
  /* z-index: 2; */
  position: sticky;
  top: 0;
  /* background-color: #2e005e; */
}

#page-content {
  position: relative;
  /* height: 100vh; */
  /* overflow-y: scroll; */
  height: 100%;
}

.left-side-logo {
  font-size: 60px;
}

.left-side-description {
  font-size: 28px;
}

.form-wrapper {
  width: 400px;
  height: 400px;
  background-color: #ff788f;
  border-radius: 50%;
  padding: 20px;
  margin-top: -50px;
}

.submit-button-wrapper {
  cursor: pointer;
}

.submit-button-wrapper.submit-button-wrapper__disabled {
  cursor: not-allowed;
}

#submit-btn {
  background: #b77ffe;
}

.form-wrapper-background-wrapper {
  padding: 15px;
  background-color: #ff788f;
  border-radius: 25% 25% 50% 50%;
}

.step-image {
  height: 75px;
  width: 75px;
  object-fit: cover;
  background: #b880ff;
  border-color: #370d7a;
  border-style: groove;
  border-width: 1px;
}

.instruction-wrapper {
  justify-content: space-between;
  gap: 20px;
}

.instruction-step {
  gap: 20px;
}

.step-image-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: #b77ffe;
}
