.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html body {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  color: white;
  /* background: #421983; */
}

html body {
  background-image: url("/wave-haikei.svg");
}

html nav a {
  color: white;
}

body {
  min-height: 100vh;
  color: white;
}

.footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#page-header {
  /* z-index: 2; */
  position: sticky;
  top: 0;
  /* background-color: #2e005e; */
}

#page-content {
  position: relative;
  /* height: 100vh; */
  /* overflow-y: scroll; */
  height: 100%;
}

.left-side-logo {
  font-size: 60px;
}

.left-side-description {
  font-size: 28px;
}

.form-wrapper {
  width: 400px;
  height: 400px;
  background-color: #ff788f;
  border-radius: 50%;
  padding: 20px;
  margin-top: -50px;
}

.submit-button-wrapper {
  cursor: pointer;
}

.submit-button-wrapper.submit-button-wrapper__disabled {
  cursor: not-allowed;
}

#submit-btn {
  background: #b77ffe;
}

.form-wrapper-background-wrapper {
  padding: 15px;
  background-color: #ff788f;
  border-radius: 25% 25% 50% 50%;
}

a.nav-link {
  color: white;
}

a.nav-link:hover {
  color: #c7fa73;
}

a:hover {
  color: #c7fa73;
}

.email {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  /* background: -webkit-linear-gradient(#c7fa73, #ff788f); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
